/* Buttons */
#page .project-list a,
#page .category-list a,
#page .tags a {
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#page .project-list a:hover,
#page .category-list a:hover,
#page .tags a:hover {
	color: #fff;
}


#page .nav-link a {
	color: rgba(255,255,255,.9);
	text-shadow: #2e7ebd 0 1px 2px;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	white-space: pre-line;
	padding: .7em 0;
	border: 1px solid;
	border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
	border-radius: 6px;
	outline: none;
	background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
	box-shadow: inset rgba(255,255,255,.5) 1px 1px;
}

/* Hovers */

.site .widget.widget_tag_cloud a,
.site #sidebar-1 .widget-area .column .widget.widget_tag_cloud a {
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.small .widget.widget_nav_menu div > ul > li:hover,
.small .widget.widget_pages > ul > li:hover,
.small .widget.widget_categories > ul > li:hover,
.small .widget.widget_product_categories > ul > li:hover {
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.site .site-info a:nth-child(2) {
	background: #fff;
	box-shadow: none;
	color: #000;
}

.site .site-info a:nth-child(2):hover {
	color: #000;
}

.small .widget.widget_nav_menu div > ul > li,
.small .widget.widget_pages > ul > li,
.small .widget.widget_categories > ul > li,
.small .widget.widget_product_categories > ul > li {
	border-bottom: 1px solid #eee;
}

.column .widget .widgettitle, 
.column .widget .widget-title {
	border-bottom: none;
}

.gallery {
	display: -webkit-box;     
	display: -moz-box;        
	display: -ms-flexbox;     
	display: -webkit-flex;
	display: flex;           
	margin: 0 auto;
	
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
}
.gallery .gallery-item {
	margin: 0 auto;
}

.gallery .gallery-item img {
	border: none !important;
	margin: 0 auto;
}
/* colors */

.widget.sgwindow_recent_posts .content article footer a,
.content-container article .entry-content a,
.comments-link a,
.category-list a,
.featured-post,
.logged-in-as a,
.site .edit-link,
.jetpack-widget-tag-nav,
.jetpack-widget-nav,
.content footer a {
color: #840a2b;
}		

.entry-header .entry-title a {
color: #840a2b;
}

a:hover,
.widget.sgwindow_recent_posts .content article footer a:hover,
.content-container .entry-content a:hover,
.comments-link a:hover,
.entry-meta a:hover,
.site-title a:hover,
.site .author.vcard a:hover,
.entry-header .entry-title a:hover,
.site .widget .entry-meta a:hover,
.category-list a:hover {
color: #dd3333;
}

.site-description h2 {
color: #6b6b6b;
}

entry-header .entry-title a,
h1,
h2,
h3,
h4,
h5,
h6 {
color: #000000;
}

.site-title h1 a {
color: #000000;

}
.site {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: lighter;
font-family: 'Open Sans', sans-serif;
}

.site .site-title h1,
.site-title a  {
font-family: 'Tangerine', sans-serif;
}


@media screen and (min-width: 680px) {
h1 {
font-size:36px;
}
}


/* Top Menu */

.sg-site-header-1 {
background: rgba(255,255,255,1);
}

.top-1-navigation ul {
background-color: #fff;
}

.top-1-navigation .horisontal-navigation li a {
color: #000000;
}	

.top-1-navigation {
background-color: rgba(37,81,25,0.9);
}

.top-1-navigation .horisontal-navigation li ul {
background-color: #fff;
}

.top-1-navigation .horisontal-navigation li ul li a {
color: #000000;
}

.top-1-navigation .horisontal-navigation li ul .current-menu-ancestor > a,
.top-1-navigation .horisontal-navigation li ul .current_page_ancestor > a {
background-color: #000000;
color: #fff;
}	


/* Second Top Menu */

.top-navigation ul {
background-color: #fff;
}

.top-navigation .horisontal-navigation li a {
color: #000000;
}	

.top-navigation {
background-color: rgba(255,255,255,1);
}

.top-navigation .horisontal-navigation li ul {
background-color: #fff;
}

.top-navigation .horisontal-navigation li ul li a {
color: #000000;
}

.top-navigation .horisontal-navigation li ul .current-menu-ancestor > a,
.top-navigation .horisontal-navigation li ul .current_page_ancestor > a {
background-color: #000000;
color: #fff ;
}

/* Footer Menu */

#footer-navigation ul {
background-color: #fff;
}

#footer-navigation .horisontal-navigation li a {
color: #000000;
}	

.site-info,
#footer-navigation {
background-color: rgba(255,255,255,1);
color: #000;
}

.site-info,
.site-info a,
#footer-navigation .horisontal-navigation li a {
color: #000000;
}	

#footer-navigation .horisontal-navigation li ul {
background-color: #fff;
}

#footer-navigation .horisontal-navigation li ul li a {
color: #000000;
}

#footer-navigation .horisontal-navigation li ul .current-menu-item > a,
#footer-navigation .horisontal-navigation li ul .current-menu-ancestor > a {
background-color: #000000;
color: #fff;
}

@media screen and (min-width: 680px) {
.site .content {
	font-size: 16px;
}

.top-1-navigation ul {
	background-color: transparent;
}

.top-1-navigation .horisontal-navigation li a {
	color: #f9f9f9;
}

.top-navigation ul {
	background-color: transparent;
}

.top-navigation .horisontal-navigation li a {
	color: #000000;
}

#footer-navigation ul {
	background-color: transparent;
}

#footer-navigation .horisontal-navigation li a {
	color: #000000;
}
}

/* Widget Menu */

.wide .widget.widget_nav_menu {
background-color: rgba(255,255,255,0.9);
}

.wide .widget.widget_nav_menu .menu li ul li a {
color: #000000;
}

.wide .widget.widget_nav_menu .menu > li a {
color: #f46a38;
}

.wide .widget.widget_nav_menu .menu > li a:hover {
color: #dd3333;
}

.wide .widget.widget_nav_menu > div > .menu > li > a {
border-bottom: 10px solid #d1d1d1;
}

/* Top Sidebar */

.sidebar-top-full .widget {
background-color:rgba(255,255,255,1);
}	

th,
td,
.sidebar-top-full .widget ul li:before,
.sidebar-top-full .widget {
color: #666666;
}
.sidebar-top-full .widget a {
color: #000000;
}
.sidebar-top-full .widget a:hover {
color: #dd3333;
}		
.sidebar-top-full .widget .widgettitle,
.sidebar-top-full .widget .widget-title {
background: transparent;
color: #000;
}

/* Before Footer Sidebar */

.sidebar-before-footer .widget {
background-color:rgba(255,255,255,1);
}

th,
td,
.sidebar-before-footer .widget ul li:before,
.sidebar-before-footer .widget {
color: #666666;
}

.sidebar-before-footer a {
color: #000000;
}

.sidebar-before-footer a:hover {
color: #dd3333;
}

.sidebar-before-footer .widget .widgettitle,
.sidebar-before-footer .widget .widget-title {
background: transparent;
color: #000;
}

/* Footer Sidebar */

.sidebar-footer-wrap {
background-color: rgba(13,76,6,1);
}	

td,
.sidebar-footer .widgettitle,
.sidebar-footer .widget-title,
.sidebar-footer .widget {
color: #dbdbdb;
}
.sidebar-footer .widget a {
color: #ffffff;
}
th,
.sidebar-footer .widget a:hover {
color: #dd3333;
}

/* Column sidebar */

.main-area {
background-color:#eeeeee;
}

td,
#sidebar-1 .widget-area .column .widget,
.column .widget {
color: #666666;
}

#sidebar-1 .widget-area .column .widget a,
.wide .column .widget.widget_nav_menu .menu > li a,
.wide .column .widget.widget_nav_menu .menu li ul li a,		
.column a {
color: #000000;
}

th,
#sidebar-1 .widget-area .column .widget a:hover,
.wide .column .widget.widget_nav_menu .menu > li a:hover,
.column a:hover {
color: #dd3333;
}

#sidebar-1 .widget-area .column .widget .widgettitle,
#sidebar-1 .widget-area .column .widget .widget-title,
.column .widget .widgettitle,
.column .widget .widget-title {
background: rgba(255,255,255,0);
color: #000000;
}

#sidebar-1 .widget-area .column .widget,
.wide .column .widget.widget_nav_menu,
.column .widget {
background: rgba(255,255,255,0.5);
}	

.column .widget {
border: 1px solid rgba(204,204,204,1);
}

/* content */

.woo-shop .woocommerce-result-count,
.woo-shop .woocommerce-pagination,
.woo-shop .page-title,
.woo-shop .products > li,
.flex .content-container,
#woocommerce-wrapper,
.header-wrapper,
.content-search,
.comments-area,
.nav-link,
.pagination.loop-pagination,
.content-container,
.nothing-found,
.archive-header {
background: rgba(255,255,255,1);
color: #000;
}

.entry-date a:hover:before,
.author.vcard a:hover:before,
.edit-link a:hover:before,
.tag a:hover:before,
.content .project a:hover:before,
.tags a:hover:before,
.content .project-list a:hover:before,
.category-list a:hover:before,
.comments-link a:hover:before {
text-shadow: 5px 1px 10px rgba(0,0,0,0.5);
}

.woo-shop .woocommerce-breadcrumb a,
.woo-shop .woocommerce-breadcrumb,
.woo-shop .orderby {
color: #000;
}

.project-list a:hover,
.category-list a:hover,
.tags a:hover {
box-shadow: 5px 1px 10px rgba(0,0,0,0.5);
}

.woo-shop .woocommerce-breadcrumb {
border-bottom: 5px solid rgba(255,255,255,1);
}

.woo-shop .woocommerce-result-count,
.woocommerce-pagination,
.woo-shop .page-title,
.blog .content-container,
.archive .content-container,
.content-container,
.archive-header {
	background: rgba(255,255,255,1);
}

#page .image-wrapper {
	background-color: rgba(255,255,255,1);
}

#page .sidebar-top-full {
	background: rgba(255,255,255,1);
}
#page .sidebar-before-footer {
	background: rgba(255,255,255,1);
}

#page .widget.sgwindow_page,
#page .sidebar-2 .column .widget:before,
#page .sidebar-1 .column .widget:before {
	background: #eeeeee;
}

.menu-top.position-fixed {
box-shadow: 0 0 4px 4px rgba(204,204,204,1);
}
.site-content .entry-title {
border-bottom: 1px solid rgba(204,204,204,1);
}

/* widget buttons */
.widget.sgwindow_widget_button {
background: rgba(30,115,190,0.9);
}

.widget.sgwindow_widget_button .sgwindow-link {
background: rgba(17,34,51,1);
}		

.widget.sgwindow_widget_button a {
color: #fff;
}
.widget.sgwindow_widget_button a:hover {
color: #fff;
}
.widget.sgwindow_widget_button .sgwindow-link {
border-color: rgba(255,255,255,1);
}
.widget.sgwindow_widget_button .sgwindow-link:hover {
box-shadow: 0 0 4px 4px rgba(255,255,255,1);
}